<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Products</title>
</head>
<body>
    <h1>Products</h1>
        <p>Product name: <%= product.name %></p>
        <p>Product price: <%= product.price %>€
        <p>Product category: <%= product.category %></p>
        <p>Product id: <%= product.id %></p>
    <a href="/products">Go to products</a>
    <a href="/products/<%= product.id %>/edit">Edit</a>
    <form method="POST" action="/products/<%= product.id%>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>
</html>